RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^article/(\d+)$ index.php?action=article&id=$1 [L]
RewriteRule ^categorie/(\d+)$ index.php?action=categorie&id=$1 [L]
